In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import warnings
from sklearn.preprocessing import MinMaxScaler
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.api import VAR
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error

In [2]:
start=dt.datetime(2025,1,1)
end=dt.datetime(2025,7,15)
stock_data=yf.download('WIPRO.NS',start=start,end=end)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12368\2514622363.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  stock_data=yf.download('WIPRO.NS',start=start,end=end)
[*********************100%***********************]  1 of 1 completed

In [3]:
stock_data

Price            Close        High         Low        Open    Volume
Ticker        WIPRO.NS    WIPRO.NS    WIPRO.NS    WIPRO.NS  WIPRO.NS
Date
2025-01-01  288.769043  291.701946  287.470904  288.480574   7878201
2025-01-02  292.134674  292.759739  285.740027  286.557394   8800435
2025-01-03  283.143707  292.134662  282.710975  291.653861  12535720
2025-01-06  282.999451  286.365058  279.393443  283.672584   9173687
2025-01-07  282.759064  286.076602  280.114658  282.999464   7381943
...                ...         ...         ...         ...       ...
2025-07-08  264.448395  265.085850  262.192774  262.634076   5519016
2025-07-09  262.634094  264.203236  259.741018  262.830248  11564433
2025-07-10  259.937134  262.388908  258.073791  262.388908   6911031
2025-07-11  253.317337  256.994999  252.777959  255.965266  13109857
2025-07-14  249.345474  254.543224  246.795623  253.317337  10388421

[133 rows x 5 columns]

In [4]:
stock_data.columns=stock_data.columns.droplevel(1)
stock_data

Price            Close        High         Low        Open    Volume
Date
2025-01-01  288.769043  291.701946  287.470904  288.480574   7878201
2025-01-02  292.134674  292.759739  285.740027  286.557394   8800435
2025-01-03  283.143707  292.134662  282.710975  291.653861  12535720
2025-01-06  282.999451  286.365058  279.393443  283.672584   9173687
2025-01-07  282.759064  286.076602  280.114658  282.999464   7381943
...                ...         ...         ...         ...       ...
2025-07-08  264.448395  265.085850  262.192774  262.634076   5519016
2025-07-09  262.634094  264.203236  259.741018  262.830248  11564433
2025-07-10  259.937134  262.388908  258.073791  262.388908   6911031
2025-07-11  253.317337  256.994999  252.777959  255.965266  13109857
2025-07-14  249.345474  254.543224  246.795623  253.317337  10388421

[133 rows x 5 columns]

In [5]:
stock_data.drop('Volume',axis=1,inplace=True)
stock_data

Price            Close        High         Low        Open
Date
2025-01-01  288.769043  291.701946  287.470904  288.480574
2025-01-02  292.134674  292.759739  285.740027  286.557394
2025-01-03  283.143707  292.134662  282.710975  291.653861
2025-01-06  282.999451  286.365058  279.393443  283.672584
2025-01-07  282.759064  286.076602  280.114658  282.999464
...                ...         ...         ...         ...
2025-07-08  264.448395  265.085850  262.192774  262.634076
2025-07-09  262.634094  264.203236  259.741018  262.830248
2025-07-10  259.937134  262.388908  258.073791  262.388908
2025-07-11  253.317337  256.994999  252.777959  255.965266
2025-07-14  249.345474  254.543224  246.795623  253.317337

[133 rows x 4 columns]

In [6]:
start_date=dt.datetime(2025,1,1)
end_date=dt.datetime(2025,5,13)
all_date=pd.date_range(start_date,end_date,freq='d')
stock_data.index=all_date
stock_data

Price            Close        High         Low        Open
2025-01-01  288.769043  291.701946  287.470904  288.480574
2025-01-02  292.134674  292.759739  285.740027  286.557394
2025-01-03  283.143707  292.134662  282.710975  291.653861
2025-01-04  282.999451  286.365058  279.393443  283.672584
2025-01-05  282.759064  286.076602  280.114658  282.999464
...                ...         ...         ...         ...
2025-05-09  264.448395  265.085850  262.192774  262.634076
2025-05-10  262.634094  264.203236  259.741018  262.830248
2025-05-11  259.937134  262.388908  258.073791  262.388908
2025-05-12  253.317337  256.994999  252.777959  255.965266
2025-05-13  249.345474  254.543224  246.795623  253.317337

[133 rows x 4 columns]

In [7]:
dftest=adfuller(stock_data['Close'],autolag='AIC')
dfoutput=pd.Series(dftest[0:4],index=('Test Statistic','p-value','#lags used','#observations used'))
for key,value in dftest[4].items():
    dfoutput['Critical value (%s)' %key]=value

dfoutput

Test Statistic           -1.287073
p-value                   0.635066
#lags used                0.000000
#observations used      132.000000
Critical value (1%)      -3.480888
Critical value (5%)      -2.883697
Critical value (10%)     -2.578586
dtype: float64

In [8]:
print('Condition for stationarity using ADF:')
print('If Test Statistic < Critical value and p-value < 0.05 --> Reject Null Hypothesis --> Stationary data')
print('Else --> Accept Null Hypothesis --> Non-Stationary data')

if (
    (dfoutput['Test Statistic'] < dfoutput ['Critical value (1%)'] or 
     dfoutput['Test Statistic'] < dfoutput ['Critical value (5%)'] or 
     dfoutput['Test Statistic'] < dfoutput ['Critical value (10%)']) and 
     dfoutput['p-value'] < 0.05):
    print('\nCondition: Test Statistic < Critical value and p-value < 0.05 is true. Stationary as per ADF')
else:
    print('\nCondition: Test Statistic < Critical value and p-value < 0.05 is not true. Non- Stationary as per ADF')

Condition for stationarity using ADF:
If Test Statistic < Critical value and p-value < 0.05 --> Reject Null Hypothesis --> Stationary data
Else --> Accept Null Hypothesis --> Non-Stationary data

Condition: Test Statistic < Critical value and p-value < 0.05 is not true. Non- Stationary as per ADF

In [9]:
ms=MinMaxScaler()
prestock_data=ms.fit_transform(stock_data)

In [10]:
prestock_data

array([[0.71023568, 0.69510017, 0.7413241 , 0.70944197],
       [0.75065773, 0.70767125, 0.72123392, 0.68739578],
       [0.64267404, 0.70024268, 0.68607591, 0.74581863],
       [0.64094148, 0.6316752 , 0.64756953, 0.65432604],
       [0.63805438, 0.62824712, 0.65594063, 0.6466098 ],
       [0.67847605, 0.63910372, 0.63361804, 0.63227966],
       [0.61784317, 0.63396076, 0.65649858, 0.67637234],
       [0.71312315, 0.69395751, 0.6894242 , 0.64660962],
       [0.6126466 , 0.64824597, 0.64422142, 0.69786807],
       [0.62419576, 0.59453465, 0.60292472, 0.61905178],
       [0.62188556, 0.59624888, 0.63808271, 0.63227956],
       [0.56875981, 0.61681907, 0.60459901, 0.66424691],
       [0.49831106, 0.51739627, 0.5353994 , 0.57495899],
       [0.70965877, 0.71852769, 0.71900198, 0.73148881],
       [0.68771538, 0.72367017, 0.72848856, 0.73589782],
       [0.81186825, 0.77109634, 0.74578903, 0.70227742],
       [0.91119026, 0.93794406, 0.87191097, 0.83180029],
       [0.93890786, 0.91394525, 0.93832047, 0.91888365],
       [0.79858691, 0.87566183, 0.82838226, 0.90565584],
       [0.81802145, 0.81351997, 0.83722239, 0.82012379],
       [0.92226146, 0.89627028, 0.8770627 , 0.83192772],
       [0.88162537, 0.88461536, 0.8873078 , 0.89881946],
       [0.91578316, 0.90792541, 0.92828648, 0.90668921],
       [0.83215533, 0.87937052, 0.85771189, 0.9162449 ],
       [0.93580707, 0.88811196, 0.82299359, 0.80888151],
       [0.96701985, 0.94463849, 0.9715421 , 0.97751526],
       [0.9770318 , 0.97494169, 0.98918577, 0.97526677],
       [0.98704376, 1.        , 0.98520174, 1.        ],
       [0.9876324 , 0.94638673, 0.97894107, 0.98875759],
       [1.        , 0.96969701, 1.        , 0.98650924],
       [0.92873977, 0.96270386, 0.95162202, 0.9943789 ],
       [0.89575998, 0.90850818, 0.92601024, 0.92636334],
       [0.87632507, 0.8840326 , 0.89869102, 0.89094992],
       [0.87102478, 0.86946367, 0.87137131, 0.8881392 ],
       [0.83863363, 0.84498798, 0.8423446 , 0.86621688],
       [0.91931681, 0.87354286, 0.88047781, 0.8353006 ],
       [0.94169637, 0.91724951, 0.9140579 , 0.90163027],
       [0.93227305, 0.89160809, 0.93625472, 0.90106806],
       [0.85041223, 0.87412554, 0.87706276, 0.91905538],
       [0.71731435, 0.76340304, 0.74388153, 0.80831938],
       [0.6731446 , 0.68181783, 0.70688653, 0.71163565],
       [0.71083641, 0.67599059, 0.72111558, 0.70770104],
       [0.5123676 , 0.65501176, 0.55776897, 0.70770109],
       [0.58186083, 0.56585077, 0.5839496 , 0.54412596],
       [0.54004709, 0.52797201, 0.54980051, 0.53906682],
       [0.60011773, 0.57284376, 0.57655062, 0.56604811],
       [0.60954068, 0.63170167, 0.63175865, 0.64530656],
       [0.59658407, 0.58158515, 0.62492865, 0.63350186],
       [0.55064768, 0.5576921 , 0.56858276, 0.6003373 ],
       [0.51354524, 0.48368267, 0.5145133 , 0.5165822 ],
       [0.40518257, 0.46503519, 0.38930012, 0.52445217],
       [0.35159024, 0.38811203, 0.40239053, 0.4215851 ],
       [0.3027092 , 0.31934746, 0.35173581, 0.37043283],
       [0.3027092 , 0.25699309, 0.36254983, 0.32377747],
       [0.37161378, 0.33449876, 0.32157075, 0.34794821],
       [0.39870427, 0.42132866, 0.44962986, 0.42889264],
       [0.35512352, 0.37004641, 0.3665339 , 0.37043277],
       [0.41519416, 0.3945219 , 0.42572539, 0.40472146],
       [0.43404006, 0.43007003, 0.47068865, 0.46037096],
       [0.39163733, 0.40151527, 0.44109284, 0.46037112],
       [0.44817431, 0.41666631, 0.47353424, 0.43788626],
       [0.33097769, 0.39685323, 0.38247016, 0.44912874],
       [0.33510034, 0.2937064 , 0.34718276, 0.3293987 ],
       [0.34687894, 0.32342657, 0.37677876, 0.3569421 ],
       [0.26148428, 0.26456883, 0.31075703, 0.3243395 ],
       [0.14310965, 0.18822844, 0.19180429, 0.24676787],
       [0.10306238, 0.07051288, 0.        , 0.        ],
       [0.15429925, 0.13636367, 0.18042125, 0.15401913],
       [0.02944631, 0.05244754, 0.06829818, 0.1084878 ],
       [0.06595994, 0.08391603, 0.11781446, 0.15682961],
       [0.1160188 , 0.08449879, 0.15196355, 0.15739173],
       [0.15901054, 0.12412582, 0.15025604, 0.14558737],
       [0.03239096, 0.        , 0.0472395 , 0.0444069 ],
       [0.05064787, 0.03496512, 0.10700053, 0.07138837],
       [0.        , 0.01398606, 0.06260675, 0.08319278],
       [0.11130751, 0.08799539, 0.09220266, 0.06913989],
       [0.10129573, 0.08566432, 0.15367107, 0.15458129],
       [0.07950518, 0.09731919, 0.11439949, 0.14502516],
       [0.07479389, 0.04836824, 0.12236763, 0.10623941],
       [0.08539448, 0.06759908, 0.134889  , 0.11860594],
       [0.08657248, 0.06526801, 0.12749   , 0.11804387],
       [0.08869246, 0.09324006, 0.14513366, 0.12355239],
       [0.11095418, 0.10571089, 0.16733061, 0.14558738],
       [0.08292118, 0.09440556, 0.14354014, 0.15120855],
       [0.11648997, 0.07750582, 0.0911781 , 0.0557616 ],
       [0.08739698, 0.09358969, 0.12874206, 0.1355817 ],
       [0.09257944, 0.06002324, 0.09675579, 0.06239461],
       [0.2724382 , 0.23473197, 0.19214575, 0.15784144],
       [0.20518261, 0.22319352, 0.25748417, 0.29117485],
       [0.22131917, 0.18519807, 0.25896402, 0.23069137],
       [0.26407542, 0.2249417 , 0.25748417, 0.24901617],
       [0.23745573, 0.22377611, 0.29060883, 0.29173681],
       [0.20730276, 0.19743597, 0.26499712, 0.26149519],
       [0.18327458, 0.19580429, 0.24257253, 0.24676785],
       [0.19752648, 0.16678319, 0.22879909, 0.2097808 ],
       [0.13886934, 0.1409091 , 0.19351166, 0.20179876],
       [0.15559491, 0.14790221, 0.20034158, 0.16919627],
       [0.18951721, 0.152098  , 0.22993735, 0.19606527],
       [0.16607785, 0.15372974, 0.22754705, 0.22417099],
       [0.15641922, 0.14382279, 0.21582243, 0.2084316 ],
       [0.1883392 , 0.16247087, 0.22879908, 0.2091061 ],
       [0.18280323, 0.15512813, 0.2335799 , 0.21304094],
       [0.15936387, 0.12377617, 0.20717122, 0.1860596 ],
       [0.14216732, 0.13636365, 0.20182122, 0.19055649],
       [0.14970561, 0.13997669, 0.21069999, 0.17380545],
       [0.16242636, 0.13624706, 0.21491172, 0.17818982],
       [0.17008248, 0.14195803, 0.21741613, 0.18043853],
       [0.20188444, 0.18181802, 0.24154799, 0.2085441 ],
       [0.24405187, 0.20979031, 0.27125787, 0.2456436 ],
       [0.29175527, 0.27738941, 0.29709742, 0.28071943],
       [0.29988202, 0.29370622, 0.32236765, 0.32546367],
       [0.30694932, 0.28496506, 0.29595901, 0.2692524 ],
       [0.33851598, 0.32062919, 0.341491  , 0.3254636 ],
       [0.33875165, 0.3222613 , 0.38315318, 0.35795415],
       [0.32320372, 0.32400934, 0.37598168, 0.35806621],
       [0.3702001 , 0.33379953, 0.38486046, 0.35750426],
       [0.38150772, 0.34265739, 0.39692639, 0.39291728],
       [0.34263827, 0.31934739, 0.38486042, 0.37043276],
       [0.36301551, 0.35955716, 0.41787135, 0.38729636],
       [0.41531218, 0.37482502, 0.43084801, 0.39179303],
       [0.40482924, 0.39044285, 0.44610138, 0.42776858],
       [0.36395747, 0.37529134, 0.41548085, 0.42664415],
       [0.37491176, 0.33729584, 0.39726787, 0.39404159],
       [0.35806817, 0.35606062, 0.40637454, 0.38729618],
       [0.38692567, 0.36013982, 0.4149117 , 0.38167493],
       [0.38751467, 0.38519824, 0.43767798, 0.41989879],
       [0.42285047, 0.39160846, 0.44963014, 0.4187746 ],
       [0.39575962, 0.38170133, 0.4473531 , 0.43844828],
       [0.41813881, 0.37878758, 0.44792246, 0.41315317],
       [0.39634862, 0.36829836, 0.41946508, 0.41540198],
       [0.36395747, 0.34673642, 0.40011368, 0.41034272],
       [0.28445211, 0.2826338 , 0.33864529, 0.33670592],
       [0.23674908, 0.25349627, 0.2692087 , 0.30635165]])

In [11]:
prestock_data.shape

(133, 4)

In [12]:
stock_table=pd.DataFrame(prestock_data,columns=['Close','High','Low','Open'])
stock_table

        Close      High       Low      Open
0    0.710236  0.695100  0.741324  0.709442
1    0.750658  0.707671  0.721234  0.687396
2    0.642674  0.700243  0.686076  0.745819
3    0.640941  0.631675  0.647570  0.654326
4    0.638054  0.628247  0.655941  0.646610
..        ...       ...       ...       ...
128  0.418139  0.378788  0.447922  0.413153
129  0.396349  0.368298  0.419465  0.415402
130  0.363957  0.346736  0.400114  0.410343
131  0.284452  0.282634  0.338645  0.336706
132  0.236749  0.253496  0.269209  0.306352

[133 rows x 4 columns]

In [13]:
warnings.filterwarnings('ignore')

In [14]:
performance={'Model':[],'RMSE':[],'MaPe':[],'Lag':[],'Test':[]}
list=['Close','High','Low','Open']

In [15]:
dataset=stock_table[list]
dataset

        Close      High       Low      Open
0    0.710236  0.695100  0.741324  0.709442
1    0.750658  0.707671  0.721234  0.687396
2    0.642674  0.700243  0.686076  0.745819
3    0.640941  0.631675  0.647570  0.654326
4    0.638054  0.628247  0.655941  0.646610
..        ...       ...       ...       ...
128  0.418139  0.378788  0.447922  0.413153
129  0.396349  0.368298  0.419465  0.415402
130  0.363957  0.346736  0.400114  0.410343
131  0.284452  0.282634  0.338645  0.336706
132  0.236749  0.253496  0.269209  0.306352

[133 rows x 4 columns]

In [16]:
test_obs=30
train_data=dataset[:-test_obs]
test_data=dataset[-test_obs:]

In [17]:
train_data

        Close      High       Low      Open
0    0.710236  0.695100  0.741324  0.709442
1    0.750658  0.707671  0.721234  0.687396
2    0.642674  0.700243  0.686076  0.745819
3    0.640941  0.631675  0.647570  0.654326
4    0.638054  0.628247  0.655941  0.646610
..        ...       ...       ...       ...
98   0.166078  0.153730  0.227547  0.224171
99   0.156419  0.143823  0.215822  0.208432
100  0.188339  0.162471  0.228799  0.209106
101  0.182803  0.155128  0.233580  0.213041
102  0.159364  0.123776  0.207171  0.186060

[103 rows x 4 columns]

In [18]:
train_data.shape

(103, 4)

In [19]:
test_data.shape

(30, 4)

In [20]:
for i in range(1,11):
    model=VAR(train_data)
    results=model.fit(i)
    print('Order=',i)
    print('AIC=',results.aic)
    print('BIC=',results.bic)

Order= 1
AIC= -28.18034897338623
BIC= -27.665648421761862
Order= 2
AIC= -27.965668810055472
BIC= -27.033546645636807
Order= 3
AIC= -27.8401923841987
BIC= -26.485503887484892
Order= 4
AIC= -27.94921603932423
BIC= -26.16670947559542
Order= 5
AIC= -27.754043834219132
BIC= -25.538357423930073
Order= 6
AIC= -27.479761305599123
BIC= -24.82542009064718
Order= 7
AIC= -27.438604687776124
BIC= -24.34001728975249
Order= 8
AIC= -27.42053314637915
BIC= -23.871988412786816
Order= 9
AIC= -27.270566102601602
BIC= -23.266229636899894
Order= 10
AIC= -27.10922780323184
BIC= -22.643138374445453

In [21]:
x=model.select_order(maxlags=10)
order=x.selected_orders['aic']
order

1

In [22]:
result=model.fit(order)
result

In [23]:
lagged_values=train_data.values[-order:]
lagged_values

array([[0.15936387, 0.12377617, 0.20717122, 0.1860596 ]])

In [24]:
prediction=result.forecast(y=lagged_values,steps=30)
prediction

array([[0.14274383, 0.13701333, 0.17927191, 0.18631389],
       [0.14309878, 0.1317854 , 0.17467907, 0.1713002 ],
       [0.14241138, 0.13147554, 0.17417337, 0.17050429],
       [0.14201927, 0.13093013, 0.17366093, 0.16974155],
       [0.14160232, 0.13051802, 0.1732683 , 0.16933875],
       [0.14119975, 0.13010309, 0.17287848, 0.16893452],
       [0.14080234, 0.12969793, 0.17249756, 0.16854561],
       [0.14041121, 0.12929862, 0.1721223 , 0.16816221],
       [0.14002601, 0.1289055 , 0.17175284, 0.16778489],
       [0.13964668, 0.12851835, 0.17138899, 0.16741331],
       [0.13927313, 0.1281371 , 0.17103069, 0.16704739],
       [0.13890527, 0.12776166, 0.17067785, 0.16668705],
       [0.13854302, 0.12739194, 0.17033039, 0.1663322 ],
       [0.13818628, 0.12702785, 0.16998822, 0.16598275],
       [0.13783498, 0.12666931, 0.16965126, 0.16563863],
       [0.13748904, 0.12631623, 0.16931944, 0.16529975],
       [0.13714836, 0.12596853, 0.16899267, 0.16496603],
       [0.13681287, 0.12562613, 0.16867088, 0.1646374 ],
       [0.13648249, 0.12528894, 0.16835399, 0.16431377],
       [0.13615715, 0.12495689, 0.16804192, 0.16399508],
       [0.13583676, 0.1246299 , 0.16773462, 0.16368124],
       [0.13552125, 0.12430789, 0.16743199, 0.16337218],
       [0.13521055, 0.12399078, 0.16713398, 0.16306783],
       [0.13490459, 0.12367851, 0.1668405 , 0.16276811],
       [0.13460328, 0.12337099, 0.1665515 , 0.16247296],
       [0.13430657, 0.12306816, 0.1662669 , 0.16218231],
       [0.13401437, 0.12276995, 0.16598663, 0.16189609],
       [0.13372663, 0.12247627, 0.16571063, 0.16161422],
       [0.13344327, 0.12218707, 0.16543884, 0.16133665],
       [0.13316422, 0.12190228, 0.16517119, 0.16106331]])

In [25]:
prediction.shape

(30, 4)

In [26]:
pred_table=pd.DataFrame(prediction,columns=list)
pred_table

       Close      High       Low      Open
0   0.142744  0.137013  0.179272  0.186314
1   0.143099  0.131785  0.174679  0.171300
2   0.142411  0.131476  0.174173  0.170504
3   0.142019  0.130930  0.173661  0.169742
4   0.141602  0.130518  0.173268  0.169339
5   0.141200  0.130103  0.172878  0.168935
6   0.140802  0.129698  0.172498  0.168546
7   0.140411  0.129299  0.172122  0.168162
8   0.140026  0.128905  0.171753  0.167785
9   0.139647  0.128518  0.171389  0.167413
10  0.139273  0.128137  0.171031  0.167047
11  0.138905  0.127762  0.170678  0.166687
12  0.138543  0.127392  0.170330  0.166332
13  0.138186  0.127028  0.169988  0.165983
14  0.137835  0.126669  0.169651  0.165639
15  0.137489  0.126316  0.169319  0.165300
16  0.137148  0.125969  0.168993  0.164966
17  0.136813  0.125626  0.168671  0.164637
18  0.136482  0.125289  0.168354  0.164314
19  0.136157  0.124957  0.168042  0.163995
20  0.135837  0.124630  0.167735  0.163681
21  0.135521  0.124308  0.167432  0.163372
22  0.135211  0.123991  0.167134  0.163068
23  0.134905  0.123679  0.166841  0.162768
24  0.134603  0.123371  0.166551  0.162473
25  0.134307  0.123068  0.166267  0.162182
26  0.134014  0.122770  0.165987  0.161896
27  0.133727  0.122476  0.165711  0.161614
28  0.133443  0.122187  0.165439  0.161337
29  0.133164  0.121902  0.165171  0.161063

In [27]:
rmse=round(mean_squared_error(test_data,prediction,squared=False))
mape=mean_absolute_percentage_error(test_data,prediction)

In [28]:
performance['Model'].append(list)
performance['RMSE'].append(rmse)
performance['MaPe'].append(mape)
performance['Lag'].append(order)
performance['Test'].append(test_obs)

In [29]:
performance

{'Model': [['Close', 'High', 'Low', 'Open']],
 'RMSE': [0],
 'MaPe': [0.5008672121508082],
 'Lag': [1],
 'Test': [30]}

In [30]:
perf_table=pd.DataFrame(performance)
perf_table

                      Model  RMSE      MaPe  Lag  Test
0  [Close, High, Low, Open]     0  0.500867    1    30

In [31]:
combinations=[['Close','High'],['Close','High','Low'],['Close','High','Low','Open']]
for columns in combinations:
    print('\nFor the combination of ',columns)
    #Manually fits the VAR model using training data
    for i in range(1,11):
        model=VAR(train_data[columns])
        results=model.fit(i)
        print('Order=',i)
        print('AIC=',results.aic)
        print('BIC=',results.bic)
    #Automatically selecting the lag order based on AIC
    x=model.select_order(maxlags=10)
    order=x.selected_orders['aic']
    result=model.fit(order)
    #Forecasting the future values equivalent to test set
    lagged_values=train_data[columns].values[-order:]
    prediction=result.forecast(y=lagged_values,steps=30)
    pred_table=pd.DataFrame(prediction,columns=columns)
    print('\nThe corresponding predicted values: ')
    print(pred_table)
    #Calculating the test metrics
    rmse=round(mean_squared_error(test_data[columns],prediction,squared=False))
    mape=mean_absolute_percentage_error(test_data[columns],prediction)
    #Appending the corresponding values to the performance table
    performance['Model'].append(columns)
    performance['RMSE'].append(rmse)
    performance['MaPe'].append(mape)
    performance['Lag'].append(order)
    performance['Test'].append(test_obs)
    perform_table=pd.DataFrame(performance)
print('\nThe performance table:')
print(perform_table)

For the combination of  ['Close', 'High']
Order= 1
AIC= -12.89067246429035
BIC= -12.736262298803041
Order= 2
AIC= -12.875123740854947
BIC= -12.616200917405319
Order= 3
AIC= -12.886447337074928
BIC= -12.521723511036594
Order= 4
AIC= -12.86079395596079
BIC= -12.388953983209047
Order= 5
AIC= -12.803563525756905
BIC= -12.22326470401453
Order= 6
AIC= -12.733607272046475
BIC= -12.04347855615897
Order= 7
AIC= -12.712054621477414
BIC= -11.910695811643714
Order= 8
AIC= -12.656473500944971
BIC= -11.742454402898462
Order= 9
AIC= -12.58958576820542
BIC= -11.561445324309036
Order= 10
AIC= -12.570378993546743
BIC= -11.426624383735595

The corresponding predicted values:
       Close      High
0   0.147890  0.141673
1   0.149113  0.137433
2   0.147995  0.137310
3   0.147325  0.136437
4   0.146584  0.135716
5   0.145868  0.134980
6   0.145160  0.134259
7   0.144462  0.133547
8   0.143775  0.132845
9   0.143097  0.132154
10  0.142429  0.131473
11  0.141771  0.130801
12  0.141122  0.130139
13  0.140482  0.129487
14  0.139852  0.128844
15  0.139231  0.128210
16  0.138618  0.127585
17  0.138015  0.126969
18  0.137420  0.126362
19  0.136833  0.125764
20  0.136256  0.125175
21  0.135686  0.124593
22  0.135124  0.124021
23  0.134571  0.123456
24  0.134025  0.122900
25  0.133488  0.122351
26  0.132958  0.121810
27  0.132436  0.121278
28  0.131921  0.120752
29  0.131413  0.120235

For the combination of  ['Close', 'High', 'Low']
Order= 1
AIC= -20.015425846560507
BIC= -19.706605515585885
Order= 2
AIC= -19.911971590602267
BIC= -19.368233661358044
Order= 3
AIC= -19.872434324921432
BIC= -19.090883269125005
Order= 4
AIC= -19.782032307638843
BIC= -18.759712366676734
Order= 5
AIC= -19.636633449072754
BIC= -18.370526928907577
Order= 6
AIC= -19.49702747530029
BIC= -17.984052982777683
Order= 7
AIC= -19.45342054678007
BIC= -17.69043116514593
Order= 8
AIC= -19.350393970491684
BIC= -17.334175371859676
Order= 9
AIC= -19.32651200150076
BIC= -17.05378049394033
Order= 10
AIC= -19.236272380303337
BIC= -16.70367288715008

The corresponding predicted values:
       Close      High       Low
0   0.144267  0.137592  0.179712
1   0.145225  0.133522  0.176218
2   0.144276  0.133516  0.176084
3   0.143710  0.132756  0.175394
4   0.143083  0.132150  0.174820
5   0.142477  0.131526  0.174234
6   0.141878  0.130916  0.173661
7   0.141288  0.130314  0.173095
8   0.140707  0.129721  0.172538
9   0.140134  0.129137  0.171989
10  0.139570  0.128561  0.171448
11  0.139013  0.127993  0.170914
12  0.138465  0.127434  0.170389
13  0.137925  0.126883  0.169871
14  0.137392  0.126340  0.169360
15  0.136868  0.125804  0.168857
16  0.136351  0.125277  0.168362
17  0.135841  0.124757  0.167873
18  0.135339  0.124245  0.167392
19  0.134844  0.123740  0.166918
20  0.134356  0.123243  0.166450
21  0.133876  0.122752  0.165989
22  0.133402  0.122269  0.165535
23  0.132936  0.121793  0.165088
24  0.132476  0.121324  0.164647
25  0.132023  0.120862  0.164213
26  0.131576  0.120406  0.163784
27  0.131136  0.119957  0.163362
28  0.130702  0.119515  0.162947
29  0.130275  0.119079  0.162537

For the combination of  ['Close', 'High', 'Low', 'Open']
Order= 1
AIC= -28.18034897338623
BIC= -27.665648421761862
Order= 2
AIC= -27.965668810055472
BIC= -27.033546645636807
Order= 3
AIC= -27.8401923841987
BIC= -26.485503887484892
Order= 4
AIC= -27.94921603932423
BIC= -26.16670947559542
Order= 5
AIC= -27.754043834219132
BIC= -25.538357423930073
Order= 6
AIC= -27.479761305599123
BIC= -24.82542009064718
Order= 7
AIC= -27.438604687776124
BIC= -24.34001728975249
Order= 8
AIC= -27.42053314637915
BIC= -23.871988412786816
Order= 9
AIC= -27.270566102601602
BIC= -23.266229636899894
Order= 10
AIC= -27.10922780323184
BIC= -22.643138374445453

The corresponding predicted values:
       Close      High       Low      Open
0   0.142744  0.137013  0.179272  0.186314
1   0.143099  0.131785  0.174679  0.171300
2   0.142411  0.131476  0.174173  0.170504
3   0.142019  0.130930  0.173661  0.169742
4   0.141602  0.130518  0.173268  0.169339
5   0.141200  0.130103  0.172878  0.168935
6   0.140802  0.129698  0.172498  0.168546
7   0.140411  0.129299  0.172122  0.168162
8   0.140026  0.128905  0.171753  0.167785
9   0.139647  0.128518  0.171389  0.167413
10  0.139273  0.128137  0.171031  0.167047
11  0.138905  0.127762  0.170678  0.166687
12  0.138543  0.127392  0.170330  0.166332
13  0.138186  0.127028  0.169988  0.165983
14  0.137835  0.126669  0.169651  0.165639
15  0.137489  0.126316  0.169319  0.165300
16  0.137148  0.125969  0.168993  0.164966
17  0.136813  0.125626  0.168671  0.164637
18  0.136482  0.125289  0.168354  0.164314
19  0.136157  0.124957  0.168042  0.163995
20  0.135837  0.124630  0.167735  0.163681
21  0.135521  0.124308  0.167432  0.163372
22  0.135211  0.123991  0.167134  0.163068
23  0.134905  0.123679  0.166841  0.162768
24  0.134603  0.123371  0.166551  0.162473
25  0.134307  0.123068  0.166267  0.162182
26  0.134014  0.122770  0.165987  0.161896
27  0.133727  0.122476  0.165711  0.161614
28  0.133443  0.122187  0.165439  0.161337
29  0.133164  0.121902  0.165171  0.161063

The performance table:
                      Model  RMSE      MaPe  Lag  Test
0  [Close, High, Low, Open]     0  0.500867    1    30
1             [Close, High]     0  0.518359    1    30
2        [Close, High, Low]     0  0.513888    1    30
3  [Close, High, Low, Open]     0  0.500867    1    30